
.bi::before{
  font-size: 20px;
}

.form-control{
  background-color:#F8F8F8;
  border: 1px solid #D4D4D4;
}

.header {
  background-color: var(--default-color-background);
  position: absolute;
  width: 100%;
}

.cash {
  font-family: Inter, "Inter Semi Bold", serif ;
  color: #454545;
  font-size: 30px;
  font-weight: 400;

  &-total{
    font-size: 24px;
  }
  &-value{
    font-size: 60px;
  }
}
