<div class="p-3 border-bottom">
  <div class="d-flex justify-content-star align-items-center">
    <a href="" class="border-0 text-title-default">
      <i class="bi bi-arrow-left-circle mr-2"></i>
    </a>
    <h1 class="text-center text-title-default">Cadastro de Produtos</h1>
  </div>

</div>

<div class="p-3">
  <form [formGroup]="form" class="shadow-lg p-5 mb-3 bg-white rounded" autocomplete="off">
    <div class="row-cols-auto justify-content-md-center">
      <div class="row">
        <div class="form-group col">
          <label class="required">Código de Barras</label>
          <input type="number" class="form-control" formControlName="barCode" id="codebar"
                 placeholder="4578978789789">
        </div>
        <div class="form-group col">
          <label class="required">Data de validade</label>
          <input type="text" class="form-control" formControlName="expirationDate" id="dateValid" mask="00/00/0000" [dropSpecialCharacters]="false"
                 placeholder="DD/MM/AAAA">
        </div>
      </div>
      <div class="form-group">
        <label class="required text-farma-primary">Descrição</label>
        <input type="text" class="form-control" formControlName="description" id="description" maxlength="50"
               placeholder="Dipirona Sódica 500mg 10 Comprimidos Ems Genérico">
      </div>

      <div class="row">
        <div class="form-group col">
          <label class="required text-farma-primary">Quantidade</label>
          <input type="number" class="form-control" formControlName="quantity" id="qty"
                 placeholder="20">
        </div>
        <div class="form-group col-sm">
          <label class="required">Preço unitário</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input type="text" class="form-control" formControlName="price" id="price" [mask]=mascaraMoedaBR
                   placeholder="5,49"  [dropSpecialCharacters]="false">
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="button-container d-flex col-12 justify-content-center justify-content-md-end">
    <button type="button" class="btn btn-success mr-3" (click)="save()">Salvar</button>
    <button type="button" class="btn btn-danger" (click)="goBack()">Cancelar</button>
  </div>
</div>
