.table{
  border-collapse: separate;
  border-spacing: 7px;
}

.table td, .table th {
  border: none !important;
}

table tbody tr {
  position : relative;
}

table tbody tr td {
  position : relative;
}

table tbody tr {
  position: relative;
}

table tbody tr:after {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #CECECE;
  pointer-events: none;
}
