.login-container {
  background: radial-gradient(50% 50% at 50% 50%, #3F4762 0%, #262D43 100%);
  width: 100%;
}
.background-form {
  background-color: #FFFFFF;
  padding: 45px 21px;
  border-radius: 4px;
  max-width: 800px;
}

label {
  color: #6C757D;
}

.bi-bag-heart {
  font-size: 50px;
}
